# Hasil build Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Abaikan file IDE
.idea
*.iml
*.ipr
*.iws

.classpath
.project
.settings
.factorypath

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

.vscode/

# Abaikan file log
*.log

# Abaikan file sistem operasi
.DS_Store
Thumbs.db